@using Marriage_Agency_Women_.Models.IdentityModels

@{
    ViewBag.Title = "Админка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Список анкет", "ShowAccounts")</p>

<p>@Html.ActionLink("Get Excel", "GetExcel", routeValues: null, htmlAttributes: new { id = "getExcelLink" })</p>