@using System.Linq.Expressions
@using System.Web.Mvc
@using System.Web.Mvc.Html

@functions
{
    private const string LabelClass = "col-md-2 control-label";
    private const string TextBoxClass = "form-control";
    private const string CheckboxClass = "form-control";
    private const string DisplayClass = "form-control";
    private const string DropdownClass = "form-control";
    private const string ValidationMessageClass = "loh";

    public static HelperResult CreateEditorFor<TModel, TItem>(HtmlHelper<TModel> html, Expression<Func<TModel, TItem>> expr)
    {
        return RenderEditorFor(html.LabelFor(expr, new { @class = LabelClass }),
            html.TextBoxFor(expr, new { @class = TextBoxClass }),
            html.ValidationMessageFor(expr, "", new { @class = ValidationMessageClass }));
    }

    public static HelperResult CreateDisplayFor<TModel, TItem>(HtmlHelper<TModel> html, Expression<Func<TModel, TItem>> expr)
    {
        return RenderDisplayFor(html.LabelFor(expr, new { @class = LabelClass }),
            html.DisplayFor(expr, new { @class = DisplayClass }));
    }

    public static HelperResult CreateCheckBoxFor<TModel>(HtmlHelper<TModel> html, Expression<Func<TModel, bool>> expr)
    {
        return RenderCheckboxFor(html.LabelFor(expr, new { @class = LabelClass }),
            html.CheckBoxFor(expr, new { @class = CheckboxClass }));
    }

    public static HelperResult CreateDropDownFor<TModel, TItem>(HtmlHelper<TModel> html, Expression<Func<TModel, TItem>> expr, IList<System.Web.Mvc.SelectListItem> items)
    {
        return RenderDropDownFor(html.LabelFor(expr, new { @class = LabelClass }),
            html.DropDownListFor(expr, items, new { @class = DropdownClass }));
    }
}

}

@helper RenderEditorFor(MvcHtmlString label, MvcHtmlString textbox, MvcHtmlString validationMessage)
{
    <div class="form-group">
        @label
        <div class="col-sm-10">
            @textbox
            @validationMessage
        </div>
    </div>
}

@helper RenderDisplayFor(MvcHtmlString label, MvcHtmlString display)
{
    <div class="form-group">
        @label
        <div class="col-sm-10">
            @display
        </div>
    </div>
}

@helper RenderCheckboxFor(MvcHtmlString label, MvcHtmlString checkBox)
{
    <div class="form-group">
        @label
        <div class="col-sm-10">
            @checkBox
        </div>
    </div>
}

@helper RenderDropDownFor(MvcHtmlString label, MvcHtmlString dropDown)
{
    <div class="form-group">
        @label
        <div class="col-sm-10">
            @dropDown
        </div>
    </div>
}